$blue: #303841;
$red: #d25565;
$yellow: #ffbc2c;
$grey: #676767;
$white: #ffffff;

.contact {
    height: 100vh;
    overflow: hidden;

    .contains-contact {
        max-width: 1200px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: center;

        .contact-bar {
            margin: 1rem 0;
            color: $yellow;

            a {
                color: $yellow;
                font-style: italic;
                margin: 0 2rem 0 0;
                transition: .3s;

                &:hover {
                    color: $white;
                }
            }

            a.a-separate {
                margin: 0 0 0 2rem;
            }
        }

        h1 {
            color: $red;
            font-size: 4.5rem;
            color: $red;
            margin: 3rem 0;
        }
    }
}

// MEDIA QUERYS


@media (max-width: 1330px) {
    .contact .contains-contact {
        padding: 10em 8em 0 8em;
        height: calc(100vh - 150px);
    }
}

@media (max-width: 1100px) {

}

@media (max-width: 900px) {
    .contact {
        overflow: auto;
    }
    .contact .contains-contact {
        overflow: auto;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 730px) {
    .contact .contains-contact {
        height: 100vh;
        padding: 5em 10em 0 10em;

        .contact-bar {

            a {
                margin: 0;
            }

            .separate {
                display: none;
            }

            a.a-separate {
                display: none;
            }
        }

        h1 {
            font-size: 3.5rem
        }
    }
}

@media (max-width: 400px) {
    .contact .contains-contact {
        padding: 8em 2em 2em 2em;
    }
}