<section class="contact">
  <article class="contains-contact">
    <div class="contact-bar">
      <a href="tel:+34611159955" target="_blank">(+34) 611 15 99 55</a> <span class="separate">/</span> <a href="mailto:guillermomonteromartin@gmail.com" class="a-separate" target="_blank">guillermomonteromartin@gmail.com</a>
    </div>
    <h1>Si quieres que trabajemos juntos o te puedo ayudar en algo, no dudes en escribirme.</h1>
    <a href="mailto:guillermomonteromartin@gmail.com" class="btn-red">Enviar Email</a>
  </article>
</section>

<div class="page-on">
  <p id="page-on">Contacto</p>
</div>
