<section class="about-me">
  <div class="contains-about-me">
    <article class="block-am-text">
      <h1>Guillermo Montero</h1>
      <h2>FRONT END DEVELOPER</h2>
      <div class="line"></div>
      <div class="desc">
        <div class="p">
          <p>Apasionado por el mundo de la imagen, la comunicación y las nuevas tecnologías. Observo y analizo el entorno para un desarrollo y diseño óptimo y efectivo, cuidando la estética y el detalle. Formándome y aprendiendo constantemente. Responsable, ordenado y volcado con el equipo.</p>
        </div>
        <div class="p">
          <p>Durante los dos últimos años he trabajado para el estudio creativo <a href="https://adesoras.com" target="_blank">Adesoras Comunicación</a> como responsable del diseño digital (web, landing pages, email/newsletter, banners estáticos y richmedia, etc.) para clientes como <span class="span-italic">Rolex</span>, <span class="span-italic">Reale</span>, <span class="span-italic">Goodyear</span>, <span class="span-italic">Vodafone</span>, <span class="span-italic">Viesgo</span>, <span class="span-italic">Carrefour</span> o <span class="span-italic">Dia</span>
        </div>
        <div class="p">
          <p>Actualmente acabo de realizar un Bootcamp de <span class="span-bold">Full Stack Developer</span> en <a href="https://upgrade-hub.com/" target="_blank">UpgradeHub</a> para especializarme en las nuevas tecnologías y el apasionante mundo Web, reforzando los conocimientos que tenía de Front y adquiriendo conocimientos de Back, sobre todo con Node y MongoDB.</p>
        </div>
      </div>
      <a class="btn-red" href="https://gumoma.design/CV/Guillermo-Montero-Martín-FrontEnd-CV-2019-FSD.pdf" target="_blank">Ver Currículo</a>
    </article>
  </div>
</section>
<div class="page-on">
  <p id="page-on">Sobre mí</p>
</div>
 