$blue: #303841;
$red: #d25565;
$yellow: #ffbc2c;
$grey: #676767;
$white: #ffffff;

.about-me {
    height: 100vh;
    overflow: hidden;

    .contains-about-me {
        max-width: 1200px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        .block-am-text {
            width: 100%;

            h1 {
                font-size: 4rem;
                background: -webkit-linear-gradient($red, $yellow);
                background: linear-gradient($red, $yellow);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: $blue
            }

            h2 {
                font-weight: 400;
                color: $red
            }

            .line {
                width: 100%; 
                margin: 1.5em 0 1em 0;
                height: 3px;
                background: -webkit-linear-gradient($red, $yellow);
                background: linear-gradient($red, $yellow);
                animation-name: toRight;
                animation-duration: 2s;
                transition: ease-in
            }

            .desc {
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                justify-content: space-between;
                margin: 3em 0 5em 0;

                .p {
                    width: 30%;

                    p {
                        font-weight: 400;
                        color: $red;
                        line-height: 2.2rem;
                        text-align: justify;

                        a {
                            color: $yellow;

                            &:hover {
                                color: $white
                            }
                        }
                    }
                }      
            }
            
        }
    }
}

@keyframes toRight {
    0%   {width: 0%}
    100% {width: 100%}
}

// MEDIA QUERYS


@media (max-width: 1330px) {
    .about-me .contains-about-me {
        padding: 10em 8em 0 8em;
        height: calc(100vh - 150px);
    }
}

@media (max-width: 1100px) {

}

@media (max-width: 900px) {
    .about-me {
        overflow: auto;
    }
    .about-me .contains-about-me {
        overflow: auto;
        height: auto;

        .block-am-text {
            .desc {
                .p {
                    width: 100%;
                    padding: 0 0 1.5em 0;
                }
            }
        }
    }
}

@media (max-width: 730px) {
    .about-me .contains-about-me {
        padding: 10em;
        
    }
}

@media (max-width: 400px) {
    .about-me .contains-about-me {
        padding: 8em 2em 2em 2em;
        margin: 0 0 2em 0;
        height: auto;

        .block-am-text {
            .desc {
                margin: 2em 0;
            }
        }
    }
}