<div class="social-icons">
  <a href="https://www.linkedin.com/in/gumoma-frontend-developer/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
  <a href="https://gitlab.com/tr090320197" target="_blank"><i class="fab fa-gitlab fa-lg"></i></a>
  <a href="https://www.instagram.com/gumoma.design/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
</div>