$blue: #303841;
$red: #d25565;
$yellow: #ffbc2c;
$grey: #676767;
$white: #ffffff;
// ICONS



.social-icons {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: absolute;
    right: 3rem;
    top: 0;
    bottom: 0;
    z-index: 91;

    .fa-linkedin-in, .fa-instagram, .fa-gitlab {
        color: $yellow;
        margin: .5em 0;
        transition: all .2s ease-in;

        &:hover {
            transform: scale(1.2);
            color: $white;
        }
    }

    img {
        width: 30px;
        height: auto;
        display: block;
        margin: .5rem 0;
    }
}

@media (max-width: 1200px) {
    .social-icons {
        right: 2rem;
    }
}

@media (max-width: 400px) {
    .social-icons {
        display: none;
        transition: .3s;
    }
}
