$blue: #303841;
$red: #d25565;
$yellow: #ffbc2c;
$grey: #676767;
$white: #ffffff;

.bar-bottom {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(0rem);
    transition: .3s;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 93;

    &:hover {
        transform: translateY(-1rem);
        transition: .3s;
    }

    a {
        font-weight: 800;
        color: $yellow;

        &:hover {
            color: $white;
        }
    }

    img {
        width: 2px;
        height: auto;
        display: block;
    }
}

@media (max-width: 730px) {
    .bar-bottom {
        display: none
    }
}