$blue: #303841;
$red: #d25565;
$yellow: #ffbc2c;
$grey: #676767;
$white: #ffffff;

.page-on {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    z-index: 90;

    p {
        transform: rotate(-90deg);
        font-weight: 800;
        color: $blue
    }
}

@media (max-width: 1200px) {
    .page-on {
        left: 0rem;
    }
}