<section class="detail-work">
    <article *ngFor='let work of workDetail'>
        <article class="contains-detail-work" *ngIf='work.id == slug'>

            <div class="description">
                <a class="breadcrumb" routerLink="/trabajos">Trabajos</a>
                <h1>{{ work.title }}</h1>
                <div class="line"></div>
                <p>{{ work.description }}</p>
                <p class="tecnologys">{{ work.tecnologys }}</p>
                <a class="btn-red" href="{{work.urlRep}}" target="_blank">Ver más</a>
            </div>
            <div class="grid-work">
                <div (click)="showImage(work.IMG01)" class="item-01" [style.background-image]="sanitizeImage(work.IMG01)">
                    <div class="overlay-grid-items">
                        <h3>{{ work.desc01 }}</h3>
                    </div>
                </div>
                <div (click)="showImage(work.IMG02)" class="item-02" [style.background-image]="sanitizeImage(work.IMG02)">
                    <div class="overlay-grid-items">
                        <h3>{{ work.desc02 }}</h3>
                    </div>
                </div>
                <div (click)="showImage(work.IMG03)" class="item-03" [style.background-image]="sanitizeImage(work.IMG03)">
                    <div class="overlay-grid-items">
                        <h3>{{ work.desc03 }}</h3>
                    </div>
                </div>
                <div (click)="showImage(work.IMG04)" class="item-04" [style.background-image]="sanitizeImage(work.IMG04)">
                    <div class="overlay-grid-items">
                        <h3>{{ work.desc04 }}</h3>
                    </div>
                </div>
            </div>

            <div id="modal" class="modal-image none">
                <div class="cierre" id="close">
                    <i (click)="closeModal()" class="fas fa-times fa-2x"></i>
                </div>
                <div class="contains-img-modal">
                    <img src="sanitizeImage()" alt="{{ work.title }}" id="imgmodal">
                </div>
            </div>


            
        </article>
    </article>
</section>
<div class="page-on">
    <p id="page-on">Trabajos</p>
</div>
