$blue: #303841;
$blueAlf: #303841f1;
$red: #d25565;
$yellow: #ffbc2c;
$grey: #676767;
$white: #ffffff;

.detail-work {
    height: 100vh;
    overflow: hidden;

    .contains-detail-work {
        max-width: 1200px;
        margin: 0 auto;
        height: calc(100vh - 80px);
        padding: 80px 0;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: space-between;

        .description {
            width: 40%;
            height: 90%;
            padding: 0 1em 0 0;
            position: relative;
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            justify-content: flex-end;
            

            .breadcrumb {
                color: $yellow;
                font-style: italic;
                position: absolute;
                top:0;
                left: 0;
                transition: .3s;

                &:hover {
                   color: $white
                }
            }

            h1 {
                color: $red;
                margin: 0 0 .3em 0;
                background: -webkit-linear-gradient($red, $yellow);
                background: linear-gradient($red, $yellow);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .line {
                width: 90%;
                height: 3px;
                background: -webkit-linear-gradient($red, $yellow);
                background: linear-gradient($red, $yellow);
                animation-name: toRight;
                animation-duration: 2s;
                transition: ease-in
            }

            p {
                color: $red;
                font-size: 1.4rem;
                line-height: 2.2rem;
                margin: 2rem 3rem 0 0;
                text-align: justify;
            }

            p.tecnologys {
                font-weight: 800;
                margin: 1em 0 2em 0;
            }
        }

        .grid-work {
            width: 60%;
            height: 90%;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:    "C1 C1 C2"
                                    "C3 C4 C2";

            .item-01, .item-02, .item-03, .item-04 {
                cursor: pointer;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                border-radius: 3px;
                position: relative;

                .overlay-grid-items {
                    background: $blueAlf;
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    transform: translateY(200%);
                    transition: all .3s;

                    h3 {
                        color: $yellow
                    }

                }

                &:hover .overlay-grid-items {
                    transform: translateY(0);
                    transition: all .3s;
                }

                &:hover .info-works {
                    display: block
                }
            }

            .item-01 {
                grid-area: C1;
            }
            .item-02 {
                grid-area: C2;
            }
            .item-03 {
                grid-area: C3;
            }
            .item-04 {
                grid-area: C4;
            }
        }

    }
}

.modal-image {
    background: $blueAlf;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    transition: .3s;

    .cierre {
        position: absolute;
        right: 4%;
        top: 4%;
        z-index: 151;
        cursor: pointer;

        .fa-times {
            color: $yellow;
            transition: transform .3s ease;

            &:hover {
                transform: rotate(180deg)
            }
        }
    }

    .contains-img-modal {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.none {
    display: none;
    transition: .3s;
}


// ANIMATION

@keyframes toRight {
    0%   {width: 0%}
    100% {width: 90%}
}

// MEDIA QUERYS


@media (max-width: 1330px) {
    .detail-work {
        padding: 0 8em;
    } 
}

@media (max-width: 1100px) {

    .detail-work {
        overflow: auto;

        &::-webkit-scrollbar {
            // width: 8px;     /* Tamaño del scroll en vertical */
            // height: 8px;    /* Tamaño del scroll en horizontal */
            display: none;  /* Ocultar scroll */
        }

        .contains-detail-work {
            height: auto;
            flex-flow: column wrap;
            align-items: flex-start;
    
            .description {
                width: 100%;
                height: auto;
                padding: 0 0 0 0;

                h1 {
                    margin: 1em 0 .3em 0;
                }

                .line {
                    width: 100%;
                }
    
                p {
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                    margin: 2rem 3rem 0 0;
                }
    
                p.tecnologys {
                    margin: 1em 0 2em 0;
                }
            }

            .grid-work {
                width: 100%;
                height: 100vh;
                margin: 4em 0
            }
        }
    }
}

@media (max-width: 900px) {
    .detail-work {
        .contains-detail-work {
            .grid-work {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: "C1 C2" "C3 C4";
            }
        }
    }
}

@media (max-width: 730px) {
    .detail-work {
        padding: 0 10em;
        .contains-detail-work {
            .grid-work {
                grid-template-columns: auto;
                grid-template-rows: 2fr 2fr 2fr;
                grid-template-areas: "C1" "C2" "C4";

                .item-03 {
                    display: none
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .detail-work {
        padding: 0 2em;
    }
}