<section class="home">
  <article class="contains-home">
    <h1 class="subtitle">Hola! Soy Guillermo Montero<span class="span-red">,</span><br>Front End Developer<span class="span-red">.</span></h1>
    <button class="btn-red" (click)="goWorks()">Portfolio</button>
  </article>
</section>
<div class="page-on">
  <p id="page-on">Inicio</p>
</div>
