<section class="works">
  <div class="contains-works">
    <article class="works-items" *ngFor='let work of works'>
        <div (click)="goWork(work.id)" class="workmy" [style.background-image]="sanitizeImage(work.img)">
          <div class="overlay-works">
            <h2>{{ work.title }}</h2>
            <p>{{ work.date }}</p>
          </div>
        </div>
    </article>
  </div>
</section> 
<div class="page-on">
  <p id="page-on">Trabajos</p>
</div>