$blueAlf: #303841a4;
$blueAlf2: #3038419c;
$blue: #303841;
$red: #d25565;
$yellow: #ffbc2c;
$grey: #676767;
$white: #ffffff;

.works {
    height: 100vh;
    overflow: hidden;

    .contains-works {
        max-width: 1200px;
        margin: 0 auto;
        height: calc(100vh - 80px);
        padding: 200px 0;
        display: grid;
        vertical-align: middle;
        justify-content: center;
        padding: 80px 0;
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        grid-gap: 10px;

        .works-items {
            width: 100%;

            .workmy {
                cursor: pointer;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
                overflow: hidden;
                border-radius: 3px;

                .overlay-works {
                    background: $blueAlf;
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    transform: translateY(200%);
                    transition: all .7s;

                    h2, p {
                        margin: 0 0 .2em 0;
                        color: $yellow
                    }
                }

                &:hover .overlay-works {
                    transform: translateY(0);
                    transition: all .3s;
                }

                
            }

            img {
                width: 100%;
                height: auto;
                display: block
            } 
            
        }
    }

}

// MEDIA QUERYS


@media (max-width: 1330px) {
    .works .contains-works {
        padding: 10em 8em 0 8em;
        height: calc(100vh - 150px);
    }
}

@media (max-width: 1100px) {

}

@media (max-width: 900px) {
    .works {
        overflow: auto;
    }
    .works .contains-works {
        overflow: auto;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 730px) {
    .works .contains-works {
        padding: 10em 10em 0 10em;
    }
}

@media (max-width: 400px) {
    .works .contains-works {
        padding: 8em 2em 2em 2em;
        grid-template-columns: 1fr;

        .works-items {
            height: 200px;

            .workmy {

                .overlay-works {
                    background: $blueAlf2;
                    height: 50%;
                    top: 50%;
                    transform: translateY(0);
                }
            }
        }
    }
}